html
  head
    title Bus Route: 1
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
  body
    .card
      .card-image
        figure.image.is-10by1
          img(src='/views/jpglogo2.jpg', alt='Placeholder image')
    br
    br
    br
    br
    .tile.is-ancestor
      .tile.is-vertical.is-8
        .tile
          .tile.is-parent.is-vertical
            article.tile.is-child.notification.is-primary
              p.title Route No: 1
              p.subtitle Jeedimetla
            article.tile.is-child.notification.is-warning
              p.title Driver details
              //p.subtitle Bottom tile
              .content
                .p Driver Name: Vishnuvardhan Reddy Mobile No. 7032208821
          .tile.is-parent
            article.tile.is-child.notification.is-info
              p.title Detailed Route Map
              p.subtitle With an Google maps
              iframe(src='https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d121908.10643672364!2d78.50400134894315!3d17.28520735441437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!3e6!4m4!2s17.373970%2C78.549820!3m2!1d17.37397!2d78.54982!4m5!1s0x3bcba659868b4727%3A0xf39a771705e23170!2sCVR+College+Of+Engineering%2C+Vastunagar%2C+Mangalpalli+(V)%2C+Ibrahimpatnam+(M)%2C+Rangareddy+(D)%2C+Pocharam%2C+Telangana+501+51%2C+India!3m2!1d17.1964133!2d78.59725089999999!5e0!3m2!1sen!2sin!4v1556969855023!5m2!1sen!2sin', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .tile.is-parent
          article.tile.is-child.notification.is-danger
            p.title Starting Time
            p.subtitle 7:05 AM
            .content
              // Content
      .tile.is-parent
        article.tile.is-child.notification.is-success
          .content
            p.title Bus Stops
            //p.subtitle With even more content
            .content
              // Content
              ol(type='1')
                li Jeedimetla 7:05AM  
                li Chintal 
                li Balanagar X Road 
                li Boji Function Hall (Balanagar) 
                li Bowenpally (CMR Function Hall) 
                li Bapuji Nagar (Sarojini Pulla Reddy Hospital) 
                li  Diamond Point - Mud Fort (Near Ford Show Room) 
                li JBS 
                li YMC 
                li Sangeeth 


    
