html
  head
    title Bus Route: 47
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
  body
    .card
      .card-image
        figure.image.is-10by1
          img(src='jpglogo2.jpg', alt='Placeholder image')
    br
    br
    br
    br
    .tile.is-ancestor
      .tile.is-vertical.is-8
        .tile
          .tile.is-parent.is-vertical
            article.tile.is-child.notification.is-primary
              p.title Route No: 47
              p.subtitle Habsiguda
            article.tile.is-child.notification.is-warning
              p.title Driver details
              //p.subtitle Bottom tile
              .content
                .p Driver Name: Satyanarayana
                | Mobile No. 9666404430
          .tile.is-parent
            article.tile.is-child.notification.is-info
              p.title Detailed Route Map
              p.subtitle With an Google maps
              iframe(src='https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d243813.79133397355!2d78.39985776059696!3d17.287035937549405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e0!4m5!1s0x3bcb99161f21fed1%3A0xeb8b7ec53de497d5!2sStreet+Number+8%2C+Maheswari+Nagar%2C+Habsiguda%2C+Hyderabad%2C+Telangana!3m2!1d17.4079719!2d78.5439426!4m5!1s0x3bcb993df7ef99e3%3A0x58fdbe098431b752!2sRamanthapur+Church%2C+Street+Number+8%2C+Ravindra+Nagar+Colony%2C+Pragathi+Nagar%2C+Habsiguda%2C+Hyderabad%2C+Telangana!3m2!1d17.4007307!2d78.5439232!4m5!1s0x3bcb9931611b9e9b%3A0x7e92690f23c92042!2sUppal+X+Road%2C+Gaddi+annaram%2C+Hyderabad%2C+Telangana!3m2!1d17.401503599999998!2d78.5601731!4m5!1s0x3bcba659868b4727%3A0xf39a771705e23170!2sCVR+College+Of+Engineering%2C+Vastunagar%2C+Mangalpalli+(V)%2C+Ibrahimpatnam+(M)%2C+Rangareddy+(D)%2C+Pocharam%2C+Telangana+501+51%2C+India!3m2!1d17.1964133!2d78.59725089999999!5e0!3m2!1sen!2sin!4v1557028696139!5m2!1sen!2sin', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .tile.is-parent
          article.tile.is-child.notification.is-danger
            p.title Starting Time
            p.subtitle 7:40 AM
            .content
              // Content
      .tile.is-parent
        article.tile.is-child.notification.is-success
          .content
            p.title Bus Stops
            //p.subtitle With even more content
            .content
              // Content
              ol(type='1')
                li St No.8 (Habsiguda)
                li Ramanthapur Church 
                li Uppal 

    
