html
  head
    title Bus Route: 51
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
  body
    .card
      .card-image
        figure.image.is-10by1
          img(src='jpglogo2.jpg', alt='Placeholder image')
    br
    br
    br
    br
    .tile.is-ancestor
      .tile.is-vertical.is-8
        .tile
          .tile.is-parent.is-vertical
            article.tile.is-child.notification.is-primary
              p.title Route No: 51
              p.subtitle Chaitanyapuri
            article.tile.is-child.notification.is-warning
              p.title Driver details
              //p.subtitle Bottom tile
              .content
                .p Driver Name: Sunder
                |  Mobile No. 9396615800
          .tile.is-parent
            article.tile.is-child.notification.is-info
              p.title Detailed Route Map
              p.subtitle With an Google maps
              iframe(src='https://www.google.com/maps/embed?pb=!1m46!1m12!1m3!1d121907.44749531802!2d78.50107824895743!3d17.2862025538021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m31!3e0!4m5!1s0x3bcb98e5159f2a1b%3A0x2e956ec36f3f28ab!2sChaitanyapuri%2C+Kothapet%2C+Hyderabad%2C+Telangana!3m2!1d17.3759576!2d78.53705599999999!4m5!1s0x3bcb999e31b91bb9%3A0xe17fecc142a744eb!2sJAIN+MANDIR%2C+Maruthi+Nagar%2C+Kothapet%2C+Hyderabad%2C+Telangana!3m2!1d17.374205399999997!2d78.53945499999999!4m5!1s0x3bcb98db1f76ca5b%3A0x23faf5837f7358a9!2sMohan+Nagar%2C+Kothapet%2C+Hyderabad%2C+Telangana!3m2!1d17.3727175!2d78.5497592!4m5!1s0x3bcb98c64ee6af2b%3A0xd8bf09d83ef4eb93!2sSai+Baba+Temple+Alakapuri%2C+Road+Number+13%2C+Alkapuri+Colony%2C+Ramakrishnapuram%2C+L.+B.+Nagar%2C+Hyderabad%2C+Telangana!3m2!1d17.365392399999998!2d78.5528269!4m5!1s0x3bcba659868b4727%3A0xf39a771705e23170!2sCVR+College+Of+Engineering%2C+Vastunagar%2C+Mangalpalli+(V)%2C+Ibrahimpatnam+(M)%2C+Rangareddy+(D)%2C+Pocharam%2C+Telangana+501+51%2C+India!3m2!1d17.1964133!2d78.59725089999999!5e0!3m2!1sen!2sin!4v1557021753837!5m2!1sen!2sin', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .tile.is-parent
          article.tile.is-child.notification.is-danger
            p.title Starting Time
            p.subtitle 7:40 AM
            .content
              // Content
      .tile.is-parent
        article.tile.is-child.notification.is-success
          .content
            p.title Bus Stops
            //p.subtitle With even more content
            .content
              // Content
              ol(type='1')
                li Chaitanyapuri   
                li Jain Temple
                li Mohan Nagar
                li Alkapuri Sai Baba temple


    
