html
  head
    title Bus Route: 53
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
  body
    .card
      .card-image
        figure.image.is-10by1
          img(src='jpglogo2.jpg', alt='Placeholder image')
    br
    br
    br
    br
    .tile.is-ancestor
      .tile.is-vertical.is-8
        .tile
          .tile.is-parent.is-vertical
            article.tile.is-child.notification.is-primary
              p.title Route No: 53
              p.subtitle Gaddi Annaram Muncipal Office
            article.tile.is-child.notification.is-warning
              p.title Driver details
              //p.subtitle Bottom tile
              .content
                .p Driver Name:Venkatesh
                | Mobile No. 8341204492
          .tile.is-parent
            article.tile.is-child.notification.is-info
              p.title Detailed Route Map
              p.subtitle With an Google maps
              iframe(src='https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d121910.20620290116!2d78.49907279889763!3d17.282035706365775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e0!4m5!1s0x3bcb98927a5bf987%3A0xa4cc3e12cba5396a!2sBapu+Nagar+Chowdi%2C+Pochamma+Bagh+Colony%2C+Gayatri+Nagar%2C+Saroornagar%2C+Hyderabad%2C+Telangana!3m2!1d17.3574162!2d78.5327708!4m5!1s0x3bcb98eb9c261dc1%3A0x6ec6095b56ecdc1c!2sHUDA+Complex%2C+Saroornagar%2C+Hyderabad%2C+Telangana!3m2!1d17.3647819!2d78.5384005!4m5!1s0x3bcb98ea28bc896d%3A0xc7cbf7198eae9c2!2sKothapet+X+Road+Petrol+Pump%2C+Kothapet+Road%2C+SBI+Colony%2C+Kothapet%2C+Hyderabad%2C+Telangana!3m2!1d17.366949599999998!2d78.54126269999999!4m5!1s0x3bcba659868b4727%3A0xf39a771705e23170!2sCVR+College+Of+Engineering%2C+Vastunagar%2C+Mangalpalli+(V)%2C+Ibrahimpatnam+(M)%2C+Rangareddy+(D)%2C+Pocharam%2C+Telangana+501+51%2C+India!3m2!1d17.1964133!2d78.59725089999999!5e0!3m2!1sen!2sin!4v1556998057989!5m2!1sen!2sin', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .tile.is-parent
          article.tile.is-child.notification.is-danger
            p.title Starting Time
            p.subtitle 7:50 AM
            .content
              // Content
      .tile.is-parent
        article.tile.is-child.notification.is-success
          .content
            p.title Bus Stops
            //p.subtitle With even more content
            .content
              // Content
              ol(type='1')
                li Gaddi Annaram Muncipal Office 
                li Chowdi  
                li LB Nagar(Municipal Office) 
                li HUDA Complex  
                li  Kothapet X Road   


    
