html
  head
    title Bus Route: 57
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
  body
    .card
      .card-image
        figure.image.is-10by1
          img(src='jpglogo2.jpg', alt='Placeholder image')
    br
    br
    br
    br
    .tile.is-ancestor
      .tile.is-vertical.is-8
        .tile
          .tile.is-parent.is-vertical
            article.tile.is-child.notification.is-primary
              p.title Route No: 57
              p.subtitle TKR Khaman
            article.tile.is-child.notification.is-warning
              p.title Driver details
              //p.subtitle Bottom tile
              .content
                .p Driver Name: Balraju
                | Mobile No. 8466803357
          .tile.is-parent
            article.tile.is-child.notification.is-info
              p.title Detailed Route Map
              p.subtitle With an Google maps
              iframe(src='https://www.google.com/maps/embed?pb=!1m58!1m12!1m3!1d121920.20707793262!2d78.49570404868088!3d17.26692186566683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m43!3e0!4m5!1s0x3bcba276221400a1%3A0x188897bf4c1c8255!2sTKR+Kaman+%2F+Shakti+Nagar%2C+Ganesh+Nagar%2C+Rajiv+Shetti+Nagar%2C+Jillelaguda%2C+Hyderabad%2C+Telangana!3m2!1d17.337436099999998!2d78.5363311!4m5!1s0x3bcba26efa3e48bd%3A0xf206dca6ad21c2d6!2sTKR+College+of+Engineering+%26Technology%2C+Hanuman+Nagar+Colony%2C+Meerpet%2C+Hyderabad%2C+Telangana!3m2!1d17.3233166!2d78.5351783!4m5!1s0x3bcba279c5697e3f%3A0xcba789f76a330700!2sJillelaguda%2C+Hyderabad%2C+Telangana!3m2!1d17.331784199999998!2d78.52976369999999!4m5!1s0x3bcba26ef7cad305%3A0x477dae0945f5af91!2sMeerpet%2C+Hyderabad%2C+Telangana!3m2!1d17.322798199999998!2d78.5280016!4m5!1s0x3bcba240527929dd%3A0xf8db4d83090e9d92!2sAlmasguda%2C+Hyderabad%2C+Telangana!3m2!1d17.3125498!2d78.53632879999999!4m5!1s0x3bcba186381a308f%3A0xf40e14500db9cfa8!2sGurram+Guda%2C+Hyderabad%2C+Telangana!3m2!1d17.2953314!2d78.5662195!4m5!1s0x3bcba659868b4727%3A0xf39a771705e23170!2sCVR+College+Of+Engineering%2C+Vastunagar%2C+Mangalpalli+(V)%2C+Ibrahimpatnam+(M)%2C+Rangareddy+(D)%2C+Pocharam%2C+Telangana+501+51%2C+India!3m2!1d17.1964133!2d78.59725089999999!5e0!3m2!1sen!2sin!4v1556988879599!5m2!1sen!2sin', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
        .tile.is-parent
          article.tile.is-child.notification.is-danger
            p.title Starting Time
            p.subtitle 7:05 AM
            .content
              // Content
      .tile.is-parent
        article.tile.is-child.notification.is-success
          .content
            p.title Bus Stops
            //p.subtitle With even more content
            .content
              // Content
              ol(type='1')
                li TKR Khaman
                li TKR College
                li Jillellaguda 
                li Meerpet 
                li Almasguda  
                li Gurramguda 


    
