html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 1
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='Article-List.css')
    link(rel='stylesheet', href='Contact-Form-Clean.css')
    link(rel='stylesheet', href='Login-Form-Dark.css')
    link(rel='stylesheet', href='Navigation-with-Button.css')
    link(rel='stylesheet', href='Projects-Horizontal.css')
    link(rel='stylesheet', href='Registration-Form-with-Photo.css')
    link(rel='stylesheet', href='styles.css')
  body
    div
      nav.navbar.navbar-light.navbar-expand-md.navigation-clean-button
        .container
          a.navbar-brand(href='#') CVR College of Engineering
          button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
            span.sr-only Toggle navigation
            span.navbar-toggler-icon
          #navcol-1.collapse.navbar-collapse
            ul.nav.navbar-nav.mr-auto
            span.navbar-text.actions
    .article-list
      .container
        .intro
          h2.text-center
        .row.articles
          .col-sm-6.col-md-4.item
            a(href='#')
            h3.name Select Bus Routes for specified dates
            a.action(href='#')
              i.fa.fa-arrow-circle-right
          .col-sm-6.col-md-4.item
            a(href='#')
            h3.name Update Fines
            a.action(href='#')
              i.fa.fa-arrow-circle-right
