<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Article-List.css" />
    <link rel="stylesheet" href="Contact-Form-Clean.css" />
    <link rel="stylesheet" href="Login-Form-Dark.css" />
    <link rel="stylesheet" href="Navigation-with-Button.css" />
    <link rel="stylesheet" href="Projects-Horizontal.css" />
    <link rel="stylesheet" href="Registration-Form-with-Photo.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a href="#" class="navbar-brand">CVR College of Engineering</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"></span>
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a href="#" class="nav-link active">Update Fines</a></li>
                        <li class="nav-item" role="presentation"><a href="#" class="nav-link">Select Bus Routes</a></li>
                        <li class="nav-item" role="presentation"><a href="#" class="nav-link">Log out</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="register-photo">
        <div class="form-container">
            <form method="post">
                <h2 class="text-center"><strong>Update Fines</strong></h2>
                <div class="form-group"><input type="email" name="email" placeholder="Roll No" class="form-control" /></div>
                <div class="form-group"><input type="password" name="password" placeholder="Remarks" class="form-control" /></div>
                <div class="form-group"><input type="password" name="password-repeat" placeholder="Fine Levied" class="form-control" /></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Update</button></div>
            </form>
        </div>
    </div>
</body>

</html>