html
  head
    title All Buses
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
  body
    .card
      .card-image
        figure.image.is-5by1
          img(src='/views/jpglogo2.jpg', alt='Placeholder image')
      center
        .tile.is-ancestor
          .tile.is-vertical.is-8
            .tile
              .tile.is-parent.is-vertical
                a(href='/buses?bus=1')
                  article.tile.is-child.notification
                    p.title Bus Route: 1
                    p.subtitle Jeedimetla
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 2
                    p.subtitle Masab Tank Under Flyover
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 3
                    p.subtitle Indira Park
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 4
                    p.subtitle Pedda Amberpet Checkpost
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 5
                    p.subtitle Bollaram Railway Station
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 6
                    p.subtitle Liberty
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 7
                    p.subtitle Vinayaka  Nagar Bus Stop
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 8
                    p.subtitle Mother Dairy
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 9
                    p.subtitle Vijaya Laxmi Theatre
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 10
                    p.subtitle Nalgonda X Road (Yashoda Hospital)
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 11
                    p.subtitle Moti Nagar Circle
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 12
                    p.subtitle IS Sadan
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 13
                    p.subtitle Satya Nagar
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 14
                    p.subtitle Film Nagar 
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 15
                    p.subtitle Sitapalmandi 
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 16
                    p.subtitle Bagh Lingampally
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 17
                    p.subtitle RK Puram
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 18
                    p.subtitle Dammaiguda - Saketh
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 19
                    p.subtitle City College
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 20
                    p.subtitle Amberpet Police Lines
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 21
                    p.subtitle BD Reddy Garden
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 22
                    p.subtitle Sarrornagar  Bus Stand
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 23
                    p.subtitle Gandhi Nagar Khaman
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 24
                    p.subtitle Old MLA Quarters
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 25
                    p.subtitle Chengicherla X Road
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 26
                    p.subtitle South End Park
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 27
                    p.subtitle Badangpet Municipal Office
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 28
                    p.subtitle Saroornagar Lake
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 29
                    p.subtitle DSNR
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 30
                    p.subtitle Gayatrinagar ‘X’ Road
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 31
                    p.subtitle Mahendra Hills
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 32
                    p.subtitle Safilguda 
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 33
                    p.subtitle Chaitanyapuri
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 34
                    p.subtitle Kothapet RythuBazar 
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 35
                    p.subtitle JNTU
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 36
                    p.subtitle Yadagiri Theatre
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 37
                    p.subtitle Omkar Nagar
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 38
                    p.subtitle Panama
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 39
                    p.subtitle Ram Nagar
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 40
                    p.subtitle Laxmi Nagar
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 41
                    p.subtitle Nagaram X Roads
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 42
                    p.subtitle SR College (CCMV Colony-Bodduppal) 
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 43
                    p.subtitle Bhagya Latha Colony 
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 44
                    p.subtitle DSNR
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 45
                    p.subtitle Bharathi Hostel
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 46
                    p.subtitle Ravindra Bharathi School
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 47
                    p.subtitle St No.8 (Habsiguda)
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 48
                    p.subtitle Mallapur bridge(Noma Function Hall)
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 49
                    p.subtitle Champapet
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 50
                    p.subtitle Bandla Guda 
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 51
                    p.subtitle Chaitanyapuri
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 52
                    p.subtitle Safil Guda
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 53
                    p.subtitle Gaddi Annaram Muncipal Office
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 54
                    p.subtitle T.V .Studio(Ramanthapur)
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 55
                    p.subtitle JNTU
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 56
                    p.subtitle Hastinapuram Signal
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 57
                    p.subtitle TKR Khaman
                a
                  article.tile.is-child.notification
                    p.title Bus Route: 58
                    p.subtitle Area Hospital (Vanasthalipuram)
