html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 1
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='Article-List.css')
    link(rel='stylesheet', href='Contact-Form-Clean.css')
    link(rel='stylesheet', href='Login-Form-Dark.css')
    link(rel='stylesheet', href='Navigation-with-Button.css')
    link(rel='stylesheet', href='Projects-Horizontal.css')
    link(rel='stylesheet', href='Registration-Form-with-Photo.css')
    link(rel='stylesheet', href='styles.css')
  body
    div
    div
      nav.navbar.navbar-light.navbar-expand-md.navigation-clean-button
        .container
          a.navbar-brand CVR college of engineering
          button.navbar-toggler(data-toggle='collapse', data-target='#navcol-1')
            span.sr-only Toggle navigation
            span.navbar-toggler-icon
          #navcol-1.collapse.navbar-collapse
            ul.nav.navbar-nav.mr-auto
              li.nav-item(role='presentation')
                a.nav-link(href='routes.html') Bus routes
              li.nav-item(role='presentation')
                a.nav-link(href='contact.html') Contact Us
            span.navbar-text.actions
              a.login(href='login.html') Log In
    .projects-horizontal
      .container
        .intro
          h2.text-center Bus Routes
          p.text-center Bus Routes available today.
        .row.projects
          .col-sm-6.item
            .row
              .col-md-12.col-lg-5
                a(href='#')
              .col
                h3.name Route no:1
                p.description
                  br
                  | Jeedimetla 7:05AM -  Chintal - Balanagar X Road - Boji Function Hall (Balanagar) - Bowenpally (CMR Function Hall) - Bapuji Nagar (Sarojini Pulla Reddy Hospital)-  Diamond Point - Mud Fort (Near Ford Show Room) - JBS -
                  |                                 YMC - Sangeeth – College
                  br
                  br
          .col-sm-6.item
            .row
              .col-md-12.col-lg-5
                a(href='#')
              .col
                h3.name Route No:2
                p.description
                  br
                  | Masab Tank Under Flyover-7.00AM- NMDC- Mehdipatnam (Before Rythu Bazar- Rathibowli- Raya Dharga- Gachibowli- TSPA- Rajendra Nagar- College
                  br
                  br
          .col-sm-6.item
            .row
              .col-md-12.col-lg-5
                a(href='#')
              .col
                h3.name Route No:3
                p.description
                  br
                  | Indira Park  – 7:10AM - Indira Park  - TDP Office - Ashok Nagar X Road (Before   Khaman) -  RTC X Road Sandhya Theatre - Bus Bhavan – VST- SBI- Amberpet - Ramanthapur Church- College
                  br
                  br
          .col-sm-6.item
            .row
              .col-md-12.col-lg-5
                a(href='#')
              .col
                h3.name Route No:4
                p.description
                  br
                  | Pedda Amberpet Checkpost-7.30 AM- Hayatnagar-Mandal Office – RTC Colony -Hyt - Bus Depot -  Bhagyalatha Colony -  High Court Colony , Andhra Bank ATM -  Kamala Nagar - Bhulaxmi Nagar (Bus Stop) -  Sampoorna Theatre -
                  |                                  Vidya Nagar (Siva Sindhu school) -  Sri Indu PG College - College
                  br
                  br
