<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Article-List.css" />
    <link rel="stylesheet" href="Contact-Form-Clean.css" />
    <link rel="stylesheet" href="Login-Form-Dark.css" />
    <link rel="stylesheet" href="Navigation-with-Button.css" />
    <link rel="stylesheet" href="Projects-Horizontal.css" />
    <link rel="stylesheet" href="Registration-Form-with-Photo.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand">CVR college of engineering</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li role="presentation" class="nav-item"><a href="routes.html" class="nav-link">Bus routes</a></li>
                        <li role="presentation" class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
                    </ul><span class="navbar-text actions"><a href="login.html" class="login">Log In</a></span></div>
            </div>
        </nav>
    </div>
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Bus Routes</h2>
                <p class="text-center">Bus Routes available today.</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"></a></div>
                        <div class="col">
                            <h3 class="name">Route no:1</h3>
                            <p class="description"><br />Jeedimetla 7:05AM -  Chintal - Balanagar X Road - Boji Function Hall (Balanagar) - Bowenpally (CMR Function Hall) - Bapuji Nagar (Sarojini Pulla Reddy Hospital)-  Diamond Point - Mud Fort (Near Ford Show Room) - JBS -
                                YMC - Sangeeth – College<br /><br /></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"></a></div>
                        <div class="col">
                            <h3 class="name">Route No:2</h3>
                            <p class="description"><br />Masab Tank Under Flyover-7.00AM- NMDC- Mehdipatnam (Before Rythu Bazar- Rathibowli- Raya Dharga- Gachibowli- TSPA- Rajendra Nagar- College<br /><br /></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"></a></div>
                        <div class="col">
                            <h3 class="name">Route No:3</h3>
                            <p class="description"><br />Indira Park  – 7:10AM - Indira Park  - TDP Office - Ashok Nagar X Road (Before   Khaman) -  RTC X Road Sandhya Theatre - Bus Bhavan – VST- SBI- Amberpet - Ramanthapur Church- College<br /><br /></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"></a></div>
                        <div class="col">
                            <h3 class="name">Route No:4</h3>
                            <p class="description"><br />Pedda Amberpet Checkpost-7.30 AM- Hayatnagar-Mandal Office – RTC Colony -Hyt - Bus Depot -  Bhagyalatha Colony -  High Court Colony , Andhra Bank ATM -  Kamala Nagar - Bhulaxmi Nagar (Bus Stop) -  Sampoorna Theatre -
                                 Vidya Nagar (Siva Sindhu school) -  Sri Indu PG College - College<br /><br /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>